%div{:id => "reply_#{reply_counter + 1}"}
  .interaction_element
    %p.meta-data
      reply to:
      = link_to reply.destination, user_path(reply.user_id)
    %p
      = reply.body
    %p.meta-data
      = reply.delivered? ? "#{time_ago_in_words(reply.delivered_at)} ago" : "pending"
