%tr{:id => "user_#{user_counter + 1}", :class => cycle("odd", "even")}
  %td#id
    = user.id
  %td#created_at
    = time_ago_in_words(user.created_at)
    ago
  %td#last_interacted_at
    - if user.last_interacted_at
      = time_ago_in_words(user.last_interacted_at)
      ago
  %td#last_contacted_at
    - last_contacted_at = user.last_contacted_at || user.updated_at
    = time_ago_in_words(last_contacted_at)
    ago
  %td#name
    = user.name
  %td#screen_name
    = user.screen_name
  %td#mobile_number
    = link_to(user.mobile_number, user_path(user))
  %td#date_of_birth
    = user.date_of_birth
  %td#gender
    = user.gender
  %td#city
    = user.city
  %td#looking_for
    = user.looking_for
  %td#state
    = user.state
  %td#locale
    = user.locale
  = communicable_links(user)
