%tr{:id => "user_#{user_counter + 1}", :class => cycle("odd", "even")}
  %td#id
    = user.id
  %td#name
    = user.name
  %td#screen_name
    = user.screen_name
  %td#mobile_number
    = link_to(user.mobile_number, user_path(user))
  %td#date_of_birth
    = user.date_of_birth
  %td#gender
    = user.gender
  %td#city
    = user.city
  %td#looking_for
    = user.looking_for
  %td#online
    = user.online
  %td#locale
    = user.locale
  = communicable_links(user)
  %td
    = link_to("X", user, :method => :delete, :data => {:confirm => "Are you sure?"})
