%tr{:class => cycle("odd", "even")}
  %td
    = user.name
  %td
    = user.screen_name
  %td
    = user.mobile_number
  %td
    = user.date_of_birth
  %td
    = user.gender
  %td
    = user.city
  %td
    = user.looking_for
  %td
    = user.online
