%tr{:id => "user_#{user_counter + 1}", :class => cycle("odd", "even")}
  %td
    = user.id
  %td
    = user.name
  %td
    = user.screen_name
  %td
    = user.mobile_number
  %td
    = user.date_of_birth
  %td
    = user.gender
  %td
    = user.city
  %td
    = user.looking_for
  %td
    = user.online
  %td
    = user.locale
  %td
    = link_to("show", user)
  %td
    = link_to("X", user, :method => :delete, :confirm => "Are you sure?")
