.center
  = image_tag("logo_with_tagline.png", :alt => "Chibi", :id => "logo")
  %p.tagline
    Chibi ជួយអ្នករកមិត្តថ្មីៗ​
  %p.tagline
    Chibi helps you find new friends in Cambodia
.wide
  %p
    ដេីម្បីរកមិត្តថ្មីភ្លាមៗ​តេឬផ្ញេីសារទៅលេខខាងក្រោម:
  %p
    To find new friends immediately, Call or SMS the numbers below:
  %table
    %tr
      %th
        ក្រុមហ៊ុន
        %br
        Company
      %th
        តេ
        %br
        Call to:
      %th
        ផ្ញេីសារ
        %br
        SMS to:
    %tr
      %td
        Smart
      %td
        = link_to("2442", "tel:2442")
      %td
        = link_to("2442", "tel:2442")
    %tr
      %td
        qb
      %td
        = link_to("2442", "tel:2442")
      %td
        = link_to("2442", "tel:2442")
    %tr
      %td
        CooTel
      %td
        = link_to("2442", "tel:2442")
      %td
        = link_to("038 383 8380", "tel:+855383838380")
    %tr
      %td
        Beeline
      %td
        = link_to("038 383 8380", "tel:+855383838380")
      %td
        = link_to("2442", "tel:2442")
    %tr
      %td
        Mobitel
      %td
        = link_to("038 383 8380", "tel:+855383838380")
      %td
        = link_to("038 383 8380", "tel:+855383838380")
    %tr
      %td
        Metfone
      %td
        = link_to("038 383 8380", "tel:+855383838380")
      %td
        = link_to("038 383 8380", "tel:+855383838380")
    %tr
      %td
        Excell
      %td
        = link_to("038 383 8380", "tel:+855383838380")
      %td
        = link_to("038 383 8380", "tel:+855383838380")
    %tr
      %td
        ក្រៅប្រទេស
        %br
        International (beta)
      %td
        = link_to("+1 415-692-6280", "tel:+14156926280")
      %td
        = link_to("+1 415-692-6280", "tel:+14156926280")
