%tr{:id => "chat_#{chat_counter + 1}", :class => cycle("odd", "even")}
  %td#id
    = chat.id
  %td#created_at
    = "#{time_ago_in_words(chat.created_at)} ago"
  %td#active
    = chat.active?
  %td#user
    = chat_user_link(chat, :user)
  %td#friend
    = chat_user_link(chat, :friend)
  %td#inactive_user
    = chat_user_link(chat, :inactive_user)
  = communicable_links(chat)
